@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --sec-col: #3da8fe;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: var(--ff-secondary);
  text-align: center;
}
body {
  background-color: #63ade8;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 90svh;
}

h1 {
  font-size: 3rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
  min-width: 5rem;
  margin-top: auto;
  margin-bottom: 2rem;
}

.review {
  width: 80%;
  height: 60%;
  max-width: 60ch;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 20px;
  border-radius: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-container > img {
  border-radius: 100%;
}

#author {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.75rem;
  letter-spacing: 2px;
}

#job-title {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--sec-col);
}

h1 {
  letter-spacing: 0.25ch;
}

.left,
.right {
  min-width: 2rem;
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-top: 0.25px;
}
